body {
    background-color: #f4f4f4;
}

.card-panel {
    margin-top: 1rem;    
}

.section-title {
    margin-top: 0px;
}

.menu-dots {
    color: black;
}

.dropdown-content li>span>a {
    color: black; 
}

.dropdown-content {
    min-width: fit-content;
}