{% extends 'base.html' %} 


{% block content %}
<div class="row">
    <div class="col s12">

        <!--Add Task card-->
        <div class="card-panel">
            <div class="row">
                <form class="col s12" id="formValidate" method="POST" action="{{ url_for('insert_new_task') }}">
                    <div class="row col s12">
                        <h3 class="section-title">Add Task</h3>
                    </div>
                    <div class="row col s12">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">assignment</i>
                            <input id="task_name" name="task_name" type="text" class="validate" required>
                            <label for="icon_prefix">Task Name*</label>
                            <span class="helper-text" data-error="This field is required" data-success="Good!"></span>
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">list</i>
                            <select id="task_category" name="task_category">
                              <option value="" disabled selected>Choose Category</option>
                              {% for cat in categories | sort(attribute='category') %}
                                  <option value="{{ cat.category }}">{{ cat.category }}</option>
                              {% endfor %}
                            </select>
                            <label>Task Category</label>
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">assignment_turned_in</i>
                            <select id="task_status" name="task_status">
                              <option value="" disabled selected>Choose Status</option>
                              {% for stat in statuses | sort(attribute='order') %}
                                  <option value="{{ stat.status }}">{{ stat.status }}</option>
                              {% endfor %}
                            </select>
                            <label>Status</label>
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">comment</i>
                            <textarea id="task_description" name="task_description" class="materialize-textarea"></textarea>
                            <label for="icon_telephone">Description</label>
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">today</i>
                            <input id="task_due_date" name="task_due_date" type="text" class="datepicker">
                            <label for="icon_prefix">Due Date</label>
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">bookmarks</i>
                            <select id="task_importance" name="task_importance">
                              <option value="" disabled selected>Choose Importance</option>
                              {% for imp in importances | sort(attribute='order') %}
                                  <option value="{{ imp.importance }}">{{ imp.importance }}</option>
                              {% endfor %}
                            </select>
                            <label>Importance</label>
                        </div>
                    </div>
                    <div class="row col s12">
                        <button class="btn waves-effect waves-light right" type="submit" name="action">Add Task
                            <i class="material-icons right">playlist_add</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block js %}
    
    <!--Materialize Initialization-->
    <script type="text/javascript">
        const options_dp = {showDaysInNextAndPreviousMonths: true,
                            yearRange: 15,
                            firstDay: 1,
                            showClearBtn: true,
                            };
        $(document).ready(function() {
            $('select').formSelect();
            $('.datepicker').datepicker(options_dp);
        });
    </script>

{% endblock %}
