{% extends 'base.html' %}


{% block css %}
<!--DataTables CSS-->
<link rel="stylesheet" type="text/css" href="../static/css/material.min.css"> 
<link rel="stylesheet" type="text/css" href="../static/css/dataTables.material.min.css"> 
{% endblock %} 


{% block content %}
<div class="row">
    <div class="col s12">
        <h2 class="section-title">Tasks Table</h2>

        <!--Tasks table inside a card-->
        <div class="card-panel">
            <div class="dataTables_wrapper no-footer">
                <table id="tasksTable" class="highlight">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Importance</th>
                            <th>Due Date</th>
                            <!--<th class="dataTables-checkbox-column sorting_disabled"></th>-->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.description }}</td>
                            <td>{{ task.category }}</td>
                            <td>{{ task.status }}</td>
                            <td>
                                {% if task.importance == 'High' %}
                                <span class="new badge red" data-badge-caption="">{{ task.importance }}</span> {% elif task.importance == "Medium" %}
                                <span class="new badge orange" data-badge-caption="">{{ task.importance }}</span> {% else %} {{ task.importance }} {% endif %}
                            </td>
                            <td>{{ task.due_date }}</td>
                            <td>
                              <!-- Dropdown Trigger -->
                              <a class="dropdown-trigger" href="#" data-target="{{ 'dropdown' ~ loop.index}}">
                                  <i class="material-icons menu-dots">more_vert</i>
                              </a>
                            
                              <!-- Dropdown Structure -->
                              <ul id="{{ "dropdown" ~ loop.index}}" class="dropdown-content">
                                <li><span><a href="#!">Done!</a></span></li>
                                <li><span><a href="#!">Add note</a></span></li>
                                <li><span><a href="{{url_for('render_edit_task',task_id=task._id)}}">Edit</a></span></li>
                                <li><span><a href="#!">Issue</a></span></li>
                              <!--<li class="divider"></li>-->
                              <!--<i class="material-icons">done</i>-->
                              <!--<i class="material-icons">note_add</i>-->
                              <!--<i class="material-icons">edit</i>-->
                              <!--<i class="material-icons">priority_high</i>-->
                              </ul>
                            </td>
                        
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <!--End Task table card-->

    </div>
</div>


<!--Floating Button to Add Task-->
<div style="bottom: 50px; right: 19px;" class="fixed-action-btn">
    <a class="btn-floating btn-large gradient-45deg-light-blue-cyan gradient-shadow"  href="{{url_for('render_add_task')}}">
        <i class="material-icons">add</i>
    </a>
</div>
{% endblock %} 


{% block js %}
<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../static/js/dataTables.material.min.js"></script>

<!--DataTables Initialization-->
<script type="text/javascript">
    $(document).ready(function() {
        $("#tasksTable").DataTable({
            select: true,
            "columns": [null, null, null, null, null, null, { "orderable": false }],
            "order": [5, "asc"]
        });
    });
</script>

<!--Materialize Initialization-->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems_dd = document.querySelectorAll('.dropdown-trigger');
        var instances_dd = M.Dropdown.init(elems_dd);
        var elems_fb = document.querySelectorAll('.fixed-action-btn');
        var instances_fb = M.FloatingActionButton.init(elems_fb, );
    });
</script>
{% endblock %}
