{% extends 'base.html' %}


{% block css %}
<!--DataTables CSS-->
<link rel="stylesheet" type="text/css" href="../static/css/material.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/dataTables.material.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/responsive.dataTables.min.css">
{% endblock %} 


{% block content %}
<!-- Main body-->
<div class="row">
    <div class="col s12">

        <!--Table inside a card-->
        <div class="card-panel">
            <div class="row col s12">
                <h2 class="section-title">Tasks</h2>
            </div>
            
            <!-- TABLE -->
            <div class="dataTables_wrapper">
                <table id="tasksTable" class="highlight compact">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Importance</th>
                            <th class="dueDateStyle">Due Date</th>
                            <th>Issues</th>
                            <th></th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td class="taskStyle">{{ task.name }}</td>
                            <td>{{ task.category }}</td>
                            <td>{{ task.status }}</td>
                            <td>
                                {% if task.importance == 'High' %}
                                    <span class="new badge red" data-badge-caption="">{{ task.importance }}</span> 
                                {% elif task.importance == "Medium" %}
                                    <span class="new badge orange" data-badge-caption="">{{ task.importance }}</span> 
                                {% elif task.importance == "Low" %}
                                    <span class="new badge blue" data-badge-caption="">{{ task.importance }}</span>
                                {% else %}
                                    <span class="new badge grey" data-badge-caption="">none</span> 
                                {% endif %}
                            </td>
                            <td class="dueDateStyle">{{ task.due_date }}</td>
                            <td>
                                {% if task.issue %}
                                    <i class="material-icons">error_outline</i> 
                                {% endif %}
                            </td>
                            <td>
                                <!-- Dropdown Trigger -->
                                <a class="dropdown-trigger" href="#" data-target="{{ 'dropdown' ~ loop.index }}">
                                    <i class="material-icons menu-dots">more_vert</i>
                                </a>
    
                                <!-- Dropdown Structure -->
                                <ul id="{{ 'dropdown' ~ loop.index}}" class="dropdown-content">
                                    
                                    <!-- Mark Done Modal Trigger -->
                                    <li><span><a href="#CreateMarkDoneModalForm" data-id="{{ task._id }}" class="triggerMarkDoneModal">Mark Done</a></span></li>
                                    <li><span><a href="#!">Add Notes</a></span></li>
                                    <li><span><a href="{{ url_for('render_edit_task', task_id=task._id) }}">Edit Task</a></span></li>
                                    
                                    <!-- Issue Sign Modal Trigger -->
                                    {% if task.issue %}
                                        <li><span><a href="#CreateIssuesModalForm" data-id="{{ task._id }}" class="triggerIssuesModal">Remove Issue</a></span></li>
                                    {% else %}
                                        <li><span><a href="#CreateIssuesModalForm" data-id="{{ task._id }}" class="triggerIssuesModal">Add Issue</a></span></li>
                                    {% endif %}
                                </ul>
                            </td>
                            <td class="descriptionStyle">{{ task.description }}</td>
                        </tr>
                        {% endfor %}


                        <!-- MODALS -->
                        
                        <!-- Issue Sign Modal Structure -->
                        <div id="CreateIssuesModalForm" class="modal">
                            <div class="modal-content">
                                <h4>Confirmation</h4>
                                <p>Are you sure you want to toggle the issue sign?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="{{ url_for('toggle_issue_sign') }}" method="POST">
                                    <input type="hidden" name="taskId" id="taskId" value="" />
                                    <a class="btn-flat modal-close">Cancel</a>
                                    <button class="btn modal-action modal-close" type="submit" name="action">Confirm</button>
                                </form>
                            </div>
                        </div>

                        <!-- Mark Done Modal Structure -->
                        <div id="CreateMarkDoneModalForm" class="modal">
                            <div class="modal-content">
                                <h4>Confirmation</h4>
                                <p>Are you sure you want to mark this task as done?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="{{ url_for('mark_task_done') }}" method="POST">
                                    <input type="hidden" name="taskId" id="taskId" value="" />
                                    <a class="btn-flat modal-close">Cancel</a>
                                    <button class="btn modal-action modal-close" type="submit" name="action">Confirm</button>
                                </form>
                            </div>
                        </div>
                        
                        <!-- END MODALS -->
                        
                        
                    </tbody>
                </table>
            </div>
            
            <!-- END TABLE -->
            
            
        </div>
        <!--End table card-->
    </div>
</div>


<!--Floating Button to Add Task-->
<div style="bottom: 50px; right: 19px;" class="fixed-action-btn">
    <a class="btn-floating btn-large gradient-45deg-light-blue-cyan gradient-shadow"  href="{{url_for('render_add_task')}}">
        <i class="material-icons">add</i>
    </a>
</div>
{% endblock %} 



<!--JS SCRIPTS-->
{% block js %}
<script type="text/javascript" src="../static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../static/js/dataTables.material.min.js"></script>
<script type="text/javascript" src="../static/js/dataTables.responsive.min.js"></script>


<!--Materialize Initialization-->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems_dd = document.querySelectorAll('.dropdown-trigger');
        var instances_dd = M.Dropdown.init(elems_dd);
        var elems_fb = document.querySelectorAll('.fixed-action-btn');
        var instances_fb = M.FloatingActionButton.init(elems_fb);
    });
</script>


<!--DataTables & Modals Script-->
<script type="text/javascript">
    $(document).ready(function() {
        $(".modal").modal({
            dismissible: true
        });
        
        $(".triggerMarkDoneModal").click(function(){
            $(".modal-footer #taskId").val($(this).data("id"));
            $('#CreateMarkDoneModalForm').modal("open");
        });
        
        $(".triggerIssuesModal").click(function(){
            $(".modal-footer #taskId").val($(this).data("id"));
            $('#CreateIssuesModalForm').modal("open");
        });

        // Needs to be placed after the modal script otherwise it doesn't pick up the right row on second page
        // https://stackoverflow.com/questions/16119693/jquery-data-table-not-working-from-second-page
        $("#tasksTable").DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "select": true,
            "columns": [null, null, null, null, null, null, { "orderable": false }, null ],
            "order": [5, "asc"],
            "responsive": true,
            "columnDefs": [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: 6 },
                { responsivePriority: 3, targets: 4 },
                { responsivePriority: 4, targets: 5 },
                { responsivePriority: 5, targets: 3 },
                { responsivePriority: 6, targets: 2 }, 
                { responsivePriority: 7, targets: 1 },
                { responsivePriority: 8, targets: 7 } 
                ]
            
        });

    });
</script>
{% endblock %}
